body {
  margin:0;
  padding:0;
  background:#000000;
  overflow:hidden;
  font-family: sans-serif;
}

.construction {
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  color:white;
  margin:0;
  font-size: 2rem;
}

a {
  color:white;
}
