* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background:#2e2a23;
  font-family: sans-serif;
}

a {
  color:#EBE5D6;
}

a:hover{
  color:rgb(255, 189, 77);
}

p {
  color:#EBE5D6;
  margin:0;
  margin-top:1rem;
  font-size: 2rem;
  line-height: 2.5rem;
}

img {
  width: 100%;
  max-width: 350px;
  border-radius: 2px;
}

.construction {
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding:1rem;
}

.small {
  font-size:1rem;
  line-height: 1rem;
}

@media (min-width:350px) {
  .construction {
    justify-content: center;
  }
}
